In [2]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import sklearn.metrics as sm

In [3]:
path = 'data/tv_show_viewers_datasest.csv'
dataset = pd.read_csv(path)
dataset.head()

,Episode,Character1_appeared,Character2_appeared,Character3_appeared,Character4_appeared,Character5_appeared,Fight_scenes,Comedy_scences,Romance_scence,Viewers
0,Episode001,3,5,2,4,4,3,7,9,888983
1,Episode002,4,6,3,5,3,4,8,7,888737
2,Episode003,2,4,1,3,5,2,6,8,887743
3,Episode004,4,6,3,5,2,5,8,7,808437
4,Episode005,5,7,4,6,4,2,6,6,777626

In [4]:
dataset.describe()

,Character1_appeared,Character2_appeared,Character3_appeared,Character4_appeared,Character5_appeared,Fight_scenes,Comedy_scences,Romance_scence,Viewers
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,3.180000,5.180000,2.300000,4.180000,3.640000,2.580000,7.000000,6.880000,754132.800000
std,1.955526,1.955526,1.854394,1.955526,1.987307,1.070762,1.106567,1.189066,152197.668355
min,0.000000,2.000000,0.000000,1.000000,1.000000,1.000000,5.000000,5.000000,354234.000000
25%,2.000000,4.000000,1.000000,3.000000,2.000000,2.000000,6.000000,6.000000,665438.750000
50%,3.000000,5.000000,2.000000,4.000000,3.000000,2.500000,7.000000,7.000000,793954.500000
75%,4.000000,6.000000,3.000000,5.000000,5.000000,3.000000,8.000000,8.000000,887713.000000
max,8.000000,10.000000,7.000000,9.000000,9.000000,6.000000,9.000000,9.000000,987342.000000

In [8]:
def train_test():
    features = []
    target = []
    
    for char1, char2, char3, char4, char5, fight, comedy, romance, viewers in zip(dataset['Character1_appeared'],
                                                                                  dataset['Character2_appeared'],
                                                                                  dataset['Character3_appeared'],
                                                                                  dataset['Character4_appeared'],
                                                                                  dataset['Character5_appeared'],
                                                                                  dataset['Fight_scenes'],
                                                                                  dataset['Comedy_scences'],
                                                                                  dataset['Romance_scence'],
                                                                                  dataset['Viewers']):
        features.append([char1, char2, char3, char4, char5, fight, comedy, romance])
        target.append(viewers)
        
    
    return features, target

In [9]:
x_train, y_train = train_test()

In [10]:
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [ ]:
regr.score(x_test, )